
<div class="home-container">

  <div class="bg-image">
    <img src="../../../assets/images/intro-bg.jpg" height="1024"/>
  </div>

    <div class="container">
      <div class="title">
        Stranded
      </div>
      <div class="homeloc">
        in Leiden Centraal
      </div>
      <hr />
      <div class="ns_msg">
        Actuele NS storing:<br/>
        {{reason}}
      </div>

      <div class="next_btn">
        <img src="../../../assets/images/location.png" (click)="clickNext()"/>
      </div>
    </div>
</div>
