<div class="bicycle-text" *ngIf="bicyclesAvailable">
  There are OV bicycles available!<br/>
  <div *ngFor="let loc of bicyclesLocations" style="clear: both">
    {{loc.name}} ({{loc.bikes}} available)<br/><br/>
  </div>
</div>

<div class="container">
  <button *ngFor="let trip of trips" class="trip-item" (click)="showJoin(trip)">

    <div class="trip-left">
      <div class="trip-title">{{ trip?.type }}</div>
      <div class="trip-name">by {{trip?.name}}</div>
    </div>

    <div class="trip-right">
      <div class="times">{{ trip?.start_time | date:'hh:mm' }} - {{ trip?.end_date | date:'hh:mm' }}</div>
      <div class="seats">{{ trip?.seats_taken }} / {{ trip?.seats}} </div>
    </div>
    <app-join-trip *ngIf="trip?.id === showTripId" [trip]="trip"></app-join-trip>
  </button>
</div>
